*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Style inputs with type="text", select elements and textareas */
.text, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    outline: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(239, 119, 1);
    color: rgb(54, 54, 54);
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, opacity 0.3s ease 0s;
  }

   



  .info-box{
      background: rgb(255, 102, 0);
      padding: 10px;
    }
    
    .deco{
        display: block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
  }

  .box{
      display: flex;
      flex-direction: row-reverse;
  }
  select{
    /* display: flex; */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    transition: all 0.5s ease 0s;
    font-size: 22px;
    padding: 11px;
    text-transform: uppercase;
    border: 1px solid transparent;
    background:white;
    border: 2px solid rgb(255, 102, 0);
    cursor: pointer;
  }

  
  .files{
    cursor: pointer;
    outline: none;
    border: 2px solid grey;
    border-style: dotted;
    padding: 30px 0px;
    width: 47%;
    margin: 4px auto;
    text-align: center;
  }
  .maxFiles{
      display: contents;
    font-size: smaller;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
      /* background-color: #45a049; */
      background: rgb(255, 102, 0);
  }
  
  /* Add a background color and some padding around the form */
  .container {
      display: block;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin: 10px auto;
    max-width: 30%;
  }